// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.uld{	
  			margin-top:30px;
  			margin-left:auto;
  			margin-right: auto;
  			display:inline-block;
  			width:400px;
  			height:300px;
  			background-color:red;
  		}